<h1>Angular Js by Nikhil </h1>

<br><br><br>
<app-courses></app-courses>

<br><br><br>
<p> working with favourite tag here </p>
<app-favourite [is_favourite]=post.isFavourite></app-favourite>

<br><br><br>
<p>  using app-bootstrap-panel here Lened how to use ng-content ng-container 
<app-bootstrap-panel>
<ng-container class ="heading">AngularJS Long Term Support</ng-container>
<ng-container class="body">
On July 1st 2018, we entered a Long Term Support (LTS) period for AngularJS 1.8. We originally announced that we would discontinue the support on the 31st of July 2021.
Over the past few months we heard that many companies are hurt by the unprecedented times caused by the global pandemic of COVID-19. In response, we are extending the AngularJS LTS with another 6 months, until the 31st of December 2021.
Keep in mind that even after the AngularJS LTS ends, all AngularJS applications that work now, will continue to work in the future. The AngularJS package will still be available on npm, bower, and CDNs.
Onward we go
</ng-container>
 </app-bootstrap-panel>


 <app-learning-derivatives></app-learning-derivatives>

<app-contact-form></app-contact-form>

<br>
<br>
<signup-form></signup-form>

<app-fake-server></app-fake-server>